@font-face {
  font-family: "iconfont"; /* Project id 4209051 */
  src: url('iconfont.woff2?t=1691976517419') format('woff2'),
       url('iconfont.woff?t=1691976517419') format('woff'),
       url('iconfont.ttf?t=1691976517419') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanbudingdan:before {
  content: "\e600";
}

.icon-31gouwuchexuanzhong:before {
  content: "\e601";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-shouji:before {
  content: "\e692";
}

.icon-tuijian:before {
  content: "\e636";
}

.icon-duigou1:before {
  content: "\e65c";
}

.icon-guanbi:before {
  content: "\e62a";
}

.icon-jifen:before {
  content: "\e638";
}

.icon-jiantou:before {
  content: "\e603";
}

.icon-geren:before {
  content: "\e652";
}

.icon-huiyuanquanyi:before {
  content: "\e739";
}

.icon-fenxiang:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-remove:before {
  content: "\e704";
}

.icon-sousuo1:before {
  content: "\e61f";
}

.icon-xuanxiang:before {
  content: "\e6a9";
}

.icon-geren1:before {
  content: "\e6a7";
}

.icon-aixin:before {
  content: "\e8c3";
}

.icon-zengjia:before {
  content: "\e8c8";
}

.icon-dingdanS:before {
  content: "\e64a";
}

.icon-jiantou1:before {
  content: "\e602";
}

.icon-cai:before {
  content: "\e628";
}

.icon-U:before {
  content: "\e6ee";
}

.icon-a-3yewufuwuzhongxin:before {
  content: "\e65b";
}

